@import "variables";

.c-nav{
    display: flex;
    padding: 16px 0;
    margin-bottom: 16px;

    @media(max-width: 1100px){
        flex-wrap: wrap;
    }

    .logo{
        cursor: pointer;
    }
    
    // caixa de pesquisa
    .c-input{
        display: flex;
        background: $pale-lilac;
        border-radius: 4px;
        align-items: center;
        height: 32px;
        width: 100%;

        input{
            background: $pale-lilac;
            border: 0;
            flex: 1;
            border-radius: 4px;
            padding: 7px 8px;
            height: 32px;
            font-family: $font-regular;
            color: $bluey-grey;
            font-size: 16px;

            &::placeholder{
                font-family: $font-regular;
                color: $bluey-grey;
                font-size: 16px;
            }
        }

        img{
            padding: 7px 8px;
        }
    }
}


