<nav class="c-nav">
    <img class="logo mr-60" src="../../../assets/img/logo.svg" alt="logo">
    <button class="btn-new-contact mr-24" (click)="openModal('criar')">
        <i><img src="../../../assets/img/icon-plus.svg" alt=""></i>
        <span>Criar contato</span>
    </button>
    <div class="c-input">
        <input class="search-box" type="search" name="search" placeholder="Buscar...">
        <i class="search-icon"><img src="../../../assets/img/icon-search.svg" alt=""></i>
    </div>
</nav>