<div class="c-table" *ngIf="contacts[0]?.contact; else noResult">
    <table class="table table-hover" >
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Contatos</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody #lastContact>
            <tr *ngFor="let contact of contacts let last = last; let i = index" [class.last-contact]="last">
                <td class="td-letter" >
                    <div class="contact-letter" [ngStyle]="{background: contact && getColorRandom()}">
                        <span>{{ contact.contact | slice:0:1 }}</span>
                    </div>
                </td>
                <td class="td-name">{{ contact.contact }}</td>
                <td class="td-email">{{ contact.email }} </td>
                <td class="td-phone">{{ contact.telephone }}</td>
                <td class="td-actions">
                    <a href="#" class="mr-24 icon-edit" (click)="editContact(contact, 'editar')">
                        <i><img src="../../../assets/img/icon-edit.svg" alt="editar"></i>
                    </a>
                    <a href="#" class="icon-delete" (click)="delete(contact, 'deletar')">
                        <i><img src="../../../assets/img/icon-delete.svg" alt="excluir"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noResult>
    <div *ngIf="!contacts[0]?.contact">
       <div class="c-empty-agenda">
           <img src="../../../assets/img/icon-empty-agenda.svg" alt="">
           <p>Nenhum contato foi criado ainda</p>
           <button class="btn-new-contact mt-24" (click)="openModal('criar')">
            <i><img src="../../../assets/img/icon-plus.svg" alt=""></i>
            <span>Criar contato</span>
        </button>
       </div>
    </div>
</ng-template>