<!-- <div *ngIf="deleted" class="">
    <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
    </div>
</div> -->

<div class="c-table">
    <table class="table table-hover" >
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Contatos</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td class="td-letter">
                    <span class="contact-letter">L</span>
                </td>
                <td class="td-name">{{ contact.contact }}</td>
                <td class="td-email">{{ contact.email }} </td>
                <td class="td-phone">{{ contact.telephone }}</td>
                <td class="td-actions">
                    <a href="#" class="mr-24 icon-edit" (click)="editContact(contact.id, 'editar')">
                        <i><img src="../../../assets/img/icon-edit.svg" alt="editar"></i>
                    </a>
                    <a href="#" class="icon-delete" (click)="delete(contact.id, 'deletar')">
                        <i><img src="../../../assets/img/icon-delete.svg" alt="excluir"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


